//colors
$white: #fff;
$off-white: #f7f7f7;
$black: #000;
$grey: #666;
$light-grey: #999;
$dark-grey: #333;
$dark-blue: #24313f;
$blue: #5e94db;
$error-red: #db4040;
$border: #000;

// header-height
$header-height: 6rem;

// font-size

$font-size-page-link: 2.2rem;
$font-size-page-link-dt: 2.6rem;

$font-size-text: 1rem;

$font-size-button: 1.4rem;

// spacing
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 48rem;
