@import "../../styles/settings.scss";

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: $s-size;
}

.cart-item__image {
  background-size: cover;
  width: 4rem;
  height: 5.2rem;
}

.cart-item__item-info {
  padding-left: $s-size;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: $light-grey;
  line-height: 1.4em;
}
